//
// VARIABLES
// ----------------------------------------------

$color-bg-body: hsl(185, 75%, 39%);
$color-text-darken: hsl(229, 23%, 23%);
$color-text-lighten: hsl(227, 10%, 46%);

//
// FONTS
// ----------------------------------------------

$font-family: 'Kumbh Sans', sans-serif;